H1 
{
    color: red;
}
/* Flash message styles */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  
  .alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  
  /* Close button styles */
  .close {
    float: right;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
  }
  
  .close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
  }
  .error-message {
    color: red;
    background-color: #f8d7da;
    font-weight: bold;
   
}
.confirmation-message{
  background-color: #dff0d8; color: #3c763d; border-color: #d6e9c6; padding: 10px; margin-bottom: 10px;
  font-size: 1.25rem;
}
.highlight {
  background-color: #ffffcc; /* Yellow background color */
  /* Add any other styles you want to apply to highlighted rows */
}
.export-link {
  color: red;
  font-size: 20px;
  text-align: left;
  margin-bottom: 15px;
  padding: 5px;
}

       /* Custom CSS styles */
       .form-label {
        width: 100px; /* Adjust the width as needed */
        display: inline-block;
    }
    .form-text, textarea, select,.form-control {
        width: 300px; /* Adjust the width as needed */
        padding: 5px;
    }
    .btn {
        width: 150px; /* Adjust the width as needed */
        padding: 10px;
        background-color: #34877c;
    }
    .alert {
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
    
    .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
    
    .alert-error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
    
    