{% include 'contentabove.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Employee</title>
</head>
<body>
    <h1>Create Employee</h1>
    <form action="{{ url_for('creer_employe') }}" method="POST">

        <div class="mb-3" >
          <label class="form-label" for="prenom">First Name:</label><br>
          <input class="form-text" type="text" id="prenom" name="prenom" Required><br>
        </div >

        <div class="mb-3">
          <label class="form-label" for="nom">Last Name:</label><br>
          <input class="form-text" type="text" id="nom" name="nom" Required><br>
        </div>

        <div class="mb-3">
          <label class="form-label" for="email">Email:</label><br>
          <input class="form-control" type="email" id="email" name="email" Required><br>
        </div>
<div class="mb-3" >
  
          <label class="form-label" for="icone">Icon:</label><br>
          <select class="form-text" id="icone" name="icone">
              <option value="avatar1.png">Avatar 1</option>
              <option value="avatar2.png">Avatar 2</option>
              <option value="avatar3.png">Avatar 3</option>
          </select><br><br>
</div>

        <input class="btn btn-primary btn1" type="submit" value="Submit">
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message confirmation-message {% if category == 'error' %}error-message{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>

{% include 'contentbelow.html' %}
