{% include 'contentabove.html' %}
<h1>Edit Employee</h1>
<form action="/edit_employee/{{ employee.email }}" method="POST">
    <label for="prenom">Prénom:</label><br>
    <input type="text" id="prenom" name="prenom" value="{{ employee.prenom }}"><br><br>

    <label for="nom">Nom:</label><br>
    <input type="text" id="nom" name="nom" value="{{ employee.nom }}"><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" value="{{ employee.email }}"><br><br>

    <label for="icone">Icon:</label><br>
    <select id="icone" name="icone">
        <option value="avatar1.png">Avatar 1</option>
        <option value="avatar2.png">Avatar 2</option>
        <option value="avatar3.png">Avatar 3</option>
    </select><br><br>

    
    <input type="submit" value="Submit">
</form>

{% include 'contentbelow.html' %}