{% include 'contentabove.html' %}
<div>
  <form method="post">
    <div class="mb-3">
      <label class="form-label" for="title">Titre</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="titre"
        value="{{ todo.titre }}"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="description"
        value="{{ todo.description }}"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="statut">Statut</label>
      <select id="statut" name="statut">
        <option value="non assignee" {% if todo.statut == 'non assignee' %} selected {% endif %}>Non assignee</option>
        <option value="en cours" {% if todo.statut == 'en cours' %} selected {% endif %}>En cours</option>
        <option value="termine" {% if todo.statut == 'termine' %} selected {% endif %}>Termine</option>
      </select><br />
    </div>
    <label for="employe">Employee:</label><br>
    <select id="employe" name="employe">
        {% for employee in employees %}
            <option value="{{ employee.email }}" {% if todo.employe.email == employee.email %} selected {% endif %}>
              {{ employee.nom }} {{ employee.prenom }}
            </option>
        {% endfor %}
    </select><br>
    
    <div class="mb-3">
      <button class="btn btn-primary btn-success" type="submit">Update</button>
    </div>
  </form>
</div>
{% include 'contentbelow.html' %}
